# Gate Internet -> Chromium ? 
# Wait for a valid internet connection before starting Chromium ? 
# 0 : Won't wait for internet, will start chromium asap
# 1 : Will hold chromium start until Internet is available
GATE_INTERNET="1"

# Use NTP?
# If you disable this option you must have HWClock working
# valid-options: 
#  0 : won't use NTP, relays on hwclock being properly setup before
#  1 : Will use NTP to sync time/date
NTP="0"
NTP_SERVER="time.google.com"

# URL
URL="http://claro.mdrjr.me/video/index.html"
